.footer {
  background-color: #27293d;
  color: #fff;
  padding: 25px 0;
}
.footer p {
  font-size: 18px;
  font-weight: 300;
}
.anchor-footer {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.anchor-footer:hover {
  text-decoration: underline;
  color: #e74c3c;
  color: #fff;
}
